<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>PIH + TW</author>

	<description>
		${project.parent.description}
	</description>

	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>

	<require_version>1.9.3</require_version>

    <require_modules>
        <require_module version="${reportingVersion}">
            org.openmrs.module.reporting
        </require_module>
        <require_module version="${emrVersion}">
            org.openmrs.module.emr
        </require_module>
        <require_module version="${patientregistrationVersion}">
            org.openmrs.module.patientregistration
        </require_module>
        <require_module version="${mirebalaismetadataVersion}">
            org.openmrs.module.mirebalaismetadata
        </require_module>
        <require_module version="${radiologyappVersion}">
            org.openmrs.module.radiologyapp
        </require_module>
        <require_module version="${appointmentschedulingVersion}">
            org.openmrs.module.appointmentscheduling
        </require_module>
        <require_module version="${paperrecordVersion}">
            org.openmrs.module.paperrecord
        </require_module>
        <require_module version="${radiologyappVersion}">
            org.openmrs.module.radiologyapp
        </require_module>
    </require_modules>

	<activator>${project.parent.groupId}.${project.parent.artifactId}.MirebalaisHospitalReportingModuleActivator</activator>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>ht</lang>
        <file>messages_ht.properties</file>
    </messages>

</module>

